https://colorlesscube.com/uvm-guide-for-beginners/
[The Textbook](https://dl.acm.org/doi/pdf/10.5555/2843495)
1) Verification as a part of the pipeline
2) The Verification Flow
3) Fundamentals of Sim-Based Verification
4) The Verification plan
5) Simulation ENgines
6) Creating Environments for Verification
7) Strategies for Sim-Based Stimulus Generation
8) Result-checking strategies for Sim-Based Verification
9) Pervasive Function Verification
10) System Simulation
11) Formal Verification
# Why Verification
As Digital Systems become more complex, verification methodologies get more essential
# How Verification
Automation through methodologies such as [[UVM]]
